{% extends 'core/base.html' %}
{% load static %}
{% block title %}Borrar página{% endblock %}
{% block content %}
{% include 'pages/include/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div class = 'conten'>
            <form action="" method="post">{% csrf_token %}
                <div class="alert alert-danger text-center" role="alert">
                  <p>¿Estás seguro de que quieres borrar "<b>{{ object }}"</b>?</p>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Sí, borrar la página" />
            </form>
            <br>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}